.common__section {
  background: url("../../../assets/images/PYh.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:auto;
  padding-top: 150px;
}

/* .common__section h2 {
  color: #fff;
} */
